.card{
    background:white;
    width:420px;
    min-height:260px;
    padding:20px;
    border-radius:20px;
    box-shadow:0 10px 25px rgba(0,0,0,0.08);
    display:flex;
    flex-direction:column;
}

.info{
    color:gray;
    margin-bottom:10px;
}

textarea{
    width:100%;
    height:180px;
    border:none;
    outline:none;
    resize:none;
    font-size:18px;
    background:transparent;
}

.result-box{
    flex:1;
    display:flex;
    justify-content:center;
    align-items:center;
    color:var(--main);
    font-size:42px;
    font-weight:bold;
    text-align:center;
}