:root{
    --main: #1a73e8;
}


body{
    margin:0;
    font-family: Arial;
    background: linear-gradient(to right,#eef2f7,#dbe6f6);
}


.header{
    display:flex;
    align-items:center;
    justify-content:center;
    padding:15px;
    background:white;
    position:relative;
}

.logo{
    width:40px;
    position:absolute;
    left:15px;
}

.center-title{
    margin:0;
}


.menu{
    display:flex;
    justify-content:center;
    gap:20px;
    padding:10px;
}

.menu a{
    text-decoration:none;
    padding:8px 15px;
    border-radius:20px;
    color:black;
}

.menu a.active{
    background:white;
    border:1px solid #ccc;
}


.container{
    display:flex;
    justify-content:center;
    gap:20px;
    margin-top:30px;
    flex-wrap:wrap;
}


.card{
    background:white;
    width:300px;
    padding:15px;
    border-radius:15px;
    box-shadow:0 5px 15px rgba(0,0,0,0.1);
}


textarea{
    width:100%;
    height:120px;
    border:none;
    outline:none;
}


.result-box{
    height:120px;
    color:var(--main);
}


.controls{
    text-align:center;
    margin-top:20px;
}

select{
    padding:8px;
}


button{
    padding:10px 20px;
    background:var(--main);
    color:white;
    border:none;
    border-radius:20px;
    margin-left:10px;
    transition:0.3s;
}

button:hover{
    background:#0d5bd1;
}


.box{
    background:white;
    width:300px;
    margin:40px auto;
    padding:20px;
    border-radius:10px;
}


@media(max-width:600px){
    .container{
        flex-direction:column;
        align-items:center;
    }
}