
:root{
    --main-color: blue;
}

body{
    background-color:#f2f2f2;
    font-family: Arial;
    margin:0;
}


.header{
    display:flex;
    align-items:center;
    padding:10px;
    background:white;
    border-bottom:1px solid #ccc;
}

.logo{
    width:50px;
    margin-right:10px;
}


.box{
    background-color:white;
    width:350px;
    margin:50px auto;
    padding:20px;
    border:1px solid #ccc;
}


textarea, select{
    width:100%;
    margin-top:5px;
    margin-bottom:15px;
    padding:5px;
}


button{
    width:100%;
    padding:8px;
    background-color:var(--main-color);
    color:white;
    border:none;
    transition:0.3s;
}

button:hover{
    background-color:darkblue;
}


#result{
    color:var(--main-color);
    margin-top:10px;
    font-weight:bold;
}


.info{
    font-size:12px;
    color:gray;
}


a{
    color:var(--main-color);
    text-decoration:none;
}


@media (max-width:500px){
    .box{
        width:90%;
    }
}